<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>SEBN</title>
  </head>
  <body>
    <main class="container">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="grid">
          <label for="upload">
            Fichero
            <input
              type="file"
              id="upload"
              name="upload"
              placeholder="Selecciona un fichero"
              required
            />
          </label>
        </div>
        <button type="submit">Subir</button>
      </form>
    </main>
  </body>
</html>
